<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
<style type="text/css">


</style>
</head>
<body>

<ul id="menu">
</ul>

<div id="text"></div>
<script type="text/javascript">
	'use strict';

	var htmlEscapes = {
		'&': '&amp;',
		'<': '&lt;',
		'>': '&gt;',
		'"': '&quot;',
		'\'': '&#x27;',
		'`': '&#x60;'
	};

	var escapeHtmlChar = function (chr) {
		return htmlEscapes[chr];
	};


	var text = document.getElementById("text");



	//Without transferring the escape html, you can not use "<" in your title properly. Say I want to have a h1 element with text <My Book>
	//You can not do the following
	text.innerHTML = "<My Book>";
	//You have to do
	text.innerHTML = "&lt;My Book&gt;";

	//[Regex](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp)

	var regex = /[&<>"'`]/g;
	console.log(regex.source);
	var hasRegex = new RegExp(regex.source);
	console.log(regex === hasRegex);


	var testStr = "<Hello Wold&>";
	//Change it to by escapeHTML function;
	console.log("testing........")
	console.log(regex.test(testStr));

	//I don't think it is necessary to create new Regex here as it want change
	var resultStr = testStr.replace(regex, function(cha) {
		console.log(cha);
		return "i";
	});

	console.log(resultStr);


	//example on the code

	var Item = function(content) {
		this.id = +new Date();
		this.content = content;
	}

	var itemList = [new Item("Hello"), new Item("Wold"), new Item("Todo MVC"), new Item("Book Title: <Frontend 101>")];

	console.log(itemList);

	function Template () {
		this.defaultTemplate
		= "<li id={{id}} >"
		+ "{{content}}"
		+ "</li>";
	}


	Template.prototype.show = function(data) {
		var view = "";
		for (var i = 0; i < data.length; i++) {
			var template = this.defaultTemplate;
			var content = data[i]["content"].replace(/[&<>"'`]/g, function(cha) {
				return htmlEscapes[cha];
			});
			template = template.replace("{{id}}", data[i]["id"]);
			template = template.replace("{{content}}", content);
			view += template;
			console.log(this.defaultTemplate);
		}
		return view;
	}

	var template = new Template();
	var menu = document.querySelector("#menu");
	menu.innerHTML = template.show(itemList);

	
</script>

</body>
</html>
