<!doctype html>
<html lang="en">
    <head>
        <title> Graph </title>
        <meta charset='utf-8'>
        <style type="text/css">
        div {
            width: 100%;
            height: 900px;
            outline: 2px gray solid;
        }
        </style>
    </head>

    <body>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#/page1">Page 1</a></li>
            <li><a href="#/page2">Page 2</a></li>
        </ul>
        <div id="view"></div>
        <script type="text/html" id="home">
          <h1>Home Page</h1>
        </script>
        <script type="text/html" id="template1">
          <h1>template1</h1>
          <p>data1</p>
          <p>data2</p>
          <p>data3</p>
        </script>
        <script type="text/html" id="template2">
          <h1>template2</h1>
          <p>item1</p>
          <p>item2</p>
          <p>item3</p>
        </script>
        <script type="text/javascript">
        // A hash to store our routes:
        var routes = {};
        // The route registering function:
        function route (path, templateId, controller) {
          routes[path] = {templateId: templateId, controller: controller};
        }

        route('/', 'home', function () {
            console.log('controller1');
        });
        route('/page1', 'template1', function () {
            console.log('controller2');

            this.greeting = 'Hello world!';
            this.moreText = 'Bacon ipsum...';
        });
        route('/page2', 'template2', function () {
            console.log('controller3');
            this.heading = 'I\'m page two!';
        });

        var el = null;
        function router () {
            // Lazy load view element:
            el = el || document.getElementById('view');
            // Current route url (getting rid of '#' in hash as well):
            var url = location.hash.slice(1) || '/';
            // Get route by url:
            var route = routes[url];
            // Do we have both a view and a route?
            if (el && route.controller) {
                // Render route template with John Resig's template engine:
                // el.innerHTML = tmpl(route.templateId, new route.controller());
                var ctrlObj = new route.controller();
                console.log('ctrlObj', ctrlObj);
                el.innerHTML = route.templateId;
            }
        }
        // Listen on hash change:
        window.addEventListener('hashchange', function() {
            console.log(location.hash);
            console.log(location.hash.slice(1));
            router();
        });
        // Listen on page load:
        window.addEventListener('load', router);


        var myObj = {
            value: 1
        }

        Object.observe(myObj, function(change) {
            console.log(change);
        });

        setTimeout(function() {
            myObj.value = 100
        }, 2000)
        </script>
    </body>
</html>