<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
<style type="text/css">
.completed>.view>label{
	text-decoration: line-through;
}

</style>
</head>
<body>

<section>
	<footer>
		<span class="todo-count">Footer</span>
	</footer>
    <section class="main">
		<input class="toggle-all" type="checkbox">
		<label for="toggle-all">Mark all as complete</label>
		<ul class="todo-list">
			<li data-id="1" class="completed">
				<div class="view">
					<input class="toggle" type="checkbox" checked>
					<label>Testing</label>
					<button class="destroy"></button>
				</div>
			</li>
		</ul>
	</section>

	<header class="header">
		<h1>todos</h1>
		<input class="new-todo" placeholder="What needs to be done?" autofocus>
	</header>
</section>


<div id="text"></div>
<script type="text/javascript" src="template.js"></script>
<script type="text/javascript">
var View = function(template) {
	this.template = template;
	this.ENTER_KEY = 13;
	this.ESCAPE_KEY = 27;
	this.$todoList = document.querySelector('.todo-list');
	this.$todoItemCounter = document.querySelector('.todo-count');
	// this.$clearCompleted = document.querySelector('.clear-completed');
	this.$main = document.querySelector('.main');
	// this.$footer = document.querySelector('.footer');
	this.$toggleAll = document.querySelector('.toggle-all');
	this.$newTodo = document.querySelector('.new-todo');
}
//Points: data-id to store the id with dom element
//This is so clever, otherwise you have to maintain them by using
// element.key = id, which is not reflected...more

View.prototype._removeItem = function (id) {
	var elem = document.querySelector('[data-id="' + id + '"]');

	if (elem) {
		this.$todoList.removeChild(elem);
	}
};

View.prototype._elementComplete = function (id, completed) {
	var listItem = document.querySelector('[data-id="' + id + '"]');

	if (!listItem) {
		return;
	}

	console.log("here");

	listItem.className = completed ? 'completed' : '';

	// In case it was toggled from an event and not by clicking the checkbox
	document.querySelector('input', listItem).checked = completed;
};

View.prototype._editItem = function (id, title) {
	var listItem =  document.querySelector('[data-id="' + id + '"]');

	if (!listItem) {
		return;
	}

	listItem.className = listItem.className + ' editing';

	var input = document.createElement('input');
	input.className = 'edit';

	listItem.appendChild(input);
	input.focus();
	input.value = title;
};

/*

The way it edits the element
1. Select the parent node.
2. Change it's state to editing by add "editing" to its class name.
3. Create an input element, with class name "edit" (so later it can be found based on its class name).
4. Append the created element to the parent node.
5. Focus it with value set to be the given the title.

The way it finishes editing.
1. Select the parent node.
2. Select the edit input based on its class name
3. Remove the edit input.
4. Change the parent node's state from editing to normal by removeing "editing" from its class name
5. Update the content of the parent node based on the given title

One interesting thing is that, the view itself can directly get the title from the dom element. However, instead of doing so, it uses an input parameter to assign the value.

This is how the MVC works, the data flow from View to Model, then render back to the View from Model.
*/
NodeList.prototype.forEach = Array.prototype.forEach;


View.prototype._editItemDone = function (id, title) {
	var listItem = document.querySelector('[data-id="' + id + '"]');

	if (!listItem) {
		return;
	}

	var input = document.querySelector('input.edit', listItem);
	listItem.removeChild(input);

	console.log(listItem);

	listItem.className = listItem.className.replace('editing', '');
	//why use selectAll?
	var labelList = listItem.querySelectorAll('label');
	console.log(labelList);

	labelList.forEach(function (label) {
		label.textContent = title;
	});
};
	//The render function is similar to a strategy pattern
	/*
		Attention! All the attributes start with "_" are private. The two entry points (render & bind) are where you can call the view functions


	*/
	View.prototype.render = function (viewCmd, parameter) {
		var self = this;

		var viewCommands = {
			showEntries: function () {
				self.$todoList.innerHTML = self.template.show(parameter);
			},
			removeItem: function () {
				self._removeItem(parameter);
			},
			updateElementCount: function () {
				self.$todoItemCounter.innerHTML = self.template.itemCounter(parameter);
			},
			clearCompletedButton: function () {
				self._clearCompletedButton(parameter.completed, parameter.visible);
			},
			contentBlockVisibility: function () {
				self.$main.style.display = self.$footer.style.display = parameter.visible ? 'block' : 'none';
			},
			toggleAll: function () {
				self.$toggleAll.checked = parameter.checked;
			},
			setFilter: function () {
				self._setFilter(parameter);
			},
			clearNewTodo: function () {
				self.$newTodo.value = '';
			},
			elementComplete: function () {
				self._elementComplete(parameter.id, parameter.completed);
			},
			editItem: function () {
				self._editItem(parameter.id, parameter.title);
			},
			editItemDone: function () {
				self._editItemDone(parameter.id, parameter.title);
			}
		};

		viewCommands[viewCmd]();
	};


	View.prototype.bind = function (event, handler) {
		var self = this;
		if (event === 'itemEdit') {
			$delegate(self.$todoList, 'li label', 'dblclick', function () {
				handler({id: self._itemId(this)});
			});
		} else if (event === 'itemRemove') {
			$delegate(self.$todoList, '.destroy', 'click', function () {
				handler({id: self._itemId(this)});
			});
		} else if (event === 'itemEditDone') {
			self._bindItemEditDone(handler);

		} else if (event === 'itemEditCancel') {
			self._bindItemEditCancel(handler);
		}
	};


console.log("***************************");
var template = new app.Template();
var view = new View(template);
// console.log(view);

// view._elementComplete(1, false);
// view.render("elementComplete",
//  			{id: 1, 
//  			 completed: false
//  			});

// view._editItem(1, "hello world");
// view.render("editItem",
// 	{
// 		id: 1,
// 		title: "Hi World"
// 	});


var Controller = function(view) {
	var self = this;
	self.view = view;
	self.view.bind("itemEdit", function() {
		console.log("binding edit");
	})
}

Controller.prototype.editItem = function (id) {
	var self = this;
	self.model.read(id, function (data) {
		self.view.render('editItem', {id: id, title: data[0].title});
	});
};



// view.bind("itemEdit", function() {
// 	console.log("test binding itemEdit event");
// });

var controller = new Controller(view);


</script>

</body>
</html>
